{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="hidden" name="_token" value="{{ csrf_token('recherche') }}">
    <button class="btn">{{ button_label|default('Rechercher') }}</button>
{{ form_end(form) }}