{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block main %}
    <h1>Liste des pages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.titleJson ? page.titleJson.fr : '' }}</td>
                <td>{{ page.contentJson ? page.contentJson.fr : '' }}</td>
                <td>
                    <a href="{{ path('app_page_show', {'id': page.id}) }}">Plus d'infos</a>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('app_page_edit', {'id': page.id}) }}">Éditer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_page_new') }}">Ajouter une nouvelle page</a>
    {% endif %}
{% endblock %}
