{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block main %}
    <article>
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <div class="adminPanel">
                <a href="{{ path('app_page_edit', {'id': page.id}) }}">Modifier la page</a>
                <span></span>
                {{ include('page/_delete_form.html.twig') }}
            </div>
        {% endif %}
        <h1>Page {{ page.titleJson.fr }}</h1>
        <p>{{ page.contentJson ? page.contentJson.fr : '' }}</p>
        <a href="{{ path('app_page_index') }}">Retour</a>
    </article>
{% endblock %}
