{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block main %}
    <h1>Page {{ page.titleJson.fr }}</h1>
    <div>
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}

        <a href="{{ path('app_page_edit', {'id': page.id}) }}">Éditer</a>

        {{ include('page/_delete_form.html.twig') }}

        {% endif %}
        {{ page.contentJson ? page.contentJson.fr : '' }}
    </div>
    <a href="{{ path('app_page_index') }}">Retour</a>
{% endblock %}
