{% extends 'base.html.twig' %}

{% block title %}Chapter{% endblock %}

{% block main %}
    <h1>Chapitre {{ chapter.category.titleJson.fr }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapter.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ chapter.category.titleJson.fr }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        {% for page in chapter.category.pages %}
        <li><a href={{path('app_page_show', {id: page.id})}}>{{page.titleJson.fr}}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_chapter_index') }}">Retour à la liste</a>

    {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('app_chapter_edit', {'id': chapter.id}) }}">Éditer</a>
        {{ include('chapter/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
