{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class='registerPost'>
        <h1>Inscription</h1>

        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            <section>
                {{ form_row(registrationForm.email, {
                    label: 'Adresse email'
                }) }}
            </section>
            <section>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            <section>
            </section>
                {{ form_row(registrationForm.agreeTerms, {
                    label: "J'accepte les termes et conditions"
                }) }}
            </section>
            <section>
                <button type="submit" class="btn">Inscription</button>
            </section>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
