{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block main %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.titleJson ? category.titleJson.fr : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': page.id}) }}">Plus d'infos</a>
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <a href="{{ path('app_category_edit', {'id': page.id}) }}">Éditer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Ajouter</a>
{% endblock %}
