{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.titleJson ? category.titleJson.fr : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}">Plus d'infos</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie n'a été enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_category_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
