{% extends 'base.html.twig' %}

{% block title %}Section index{% endblock %}

{% block main %}
    <h1>Liste des sections</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr>
                <td>{{ section.id }}</td>
                <td>{{ section.titleJson ? section.titleJson|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_section_show', {'id': section.id}) }}">Plus d'infos</a>
                    <a href="{{ path('app_section_edit', {'id': section.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entrée disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_section_new') }}">Ajouter une nouvelle section</a>
{% endblock %}
