{% extends 'base.html.twig' %}

{% block title %}Section{% endblock %}

{% block main %}
    <article>
        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
            <div class="adminPanel">
                <a href="{{ path('app_section_edit', {'id': section.id}) }}">Modifier la section</a>
                {{ include('section/_delete_form.html.twig') }}
            </div>
        {% endif %}

        <h1>Section {{ section.titleJson.fr }}</h1>

        <ul>
            {% for chapter in section.chapters %}
            <li><a href={{path('app_chapter_show', {id: chapter.id})}}>{{chapter.category.titleJson.fr}}</a></li>
            {% endfor %}
        </ul>
    
        <a href="{{ path('app_section_index') }}">Retour à la liste des sections</a>
    </article>
{% endblock %}
