<nav class="navbar">
    <h2 class="navheader">
        Site
    </h2>
    {% if app.user %}
    <p class="email">
        {{ app.user.email }}
    </p>
    {% endif %}
    <ul>
        <li class="home">
            <a href={{ path('app_home') }}>Accueil</a>
        </li>
        <li class="pages">
            <a href={{ path(app.user ? 'app_page_index' : 'app_login') }}>Pages</a>
        </li>
        <li class="faq">
            <a href={{ path('app_faq') }}>FAQ</a>
        </li>
        {% if app.user %}
        <li class="profile">
            <a href={{ path('app_my_profile') }}> Mon compte</a>
        </li>
        <li class="authentification">
            <a href={{ path('app_logout') }}> Se déconnecter</a>
        </li>
        {% else %}
        <li class="register">
            <a href={{ path('app_register') }}> S'inscrire</a>
        </li>
        <li class="authentification">
            <a href={{ path('app_login') }}> Se connecter</a>
        </li>
        {% endif %}
    </ul>
</nav>